* {
    -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */ 
    -khtml-user-select: none; /* Konqueror HTML */ 
    -moz-user-select: none; /* Old versions of Firefox */ 
    -ms-user-select: none; /* Internet Explorer/Edge */ 
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ 
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}
html {
    height: 100%;
}
body {
    background-color: #184762;
    margin: 0;
    padding: 5px;
    height: calc(100% - 15px);
}

.panel {
	overflow-x: scroll;
    display: flex;
    height: calc(100% - 65px);
    position: relative;
}

.delete {
    opacity: 0.95;
    position: fixed;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 0%;
    list-style: none;
    padding: 3px 6px;
    width: 100%;
    height: 45px;
    display: none;
}

#error_mes {
    background-color: white;
    border-radius: 5px;
    border: 2px solid red;
    padding: 3px;
    position: fixed;
    top: 37%;
    left: 30%;
    visibility: hidden;
}

#scale_button {
    position: fixed;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    background-color: #EAEAEA;
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;   
}

#status {
    background-color: dimgray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 35px;
    margin-bottom: 30px;
}

.tasks {
    min-width: 250px;
    max-width: 250px;
    height: min-content;
    position: relative;
    max-height: 150%;
    overflow-x: hidden;
    background-color: #EAEAEA;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    margin-right: 5px;
}

.tasks__title {
    margin: 0;
    margin-bottom: 5px;
    min-height: 20px;
    display: block;
    font-weight: 800;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: black;
    padding: 10px 8px;
    position: relative;
    text-decoration: none !important;
}

.tasks__list {
    margin: 0;
    padding: 0;
    min-height: 50px;
    list-style: none;
    overflow-y: scroll;
    position: relative;
    max-height: 400px;
}

.task__item {
    background-color: white;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 4px;
    box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.1);
}

.tasks__item:last-child {
    margin-bottom: 0;
}

.item__label{
    margin: 0px;
    display: block;
    min-height: 20px;
    padding: 8px 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
    overflow-wrap: break-word;
}

.task-create {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 4px;
}
.inputTaskForm {
    font-size: 14px;
    height: 20px;
    width: 60%;
}

#table-create-input{
    height: 20px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #184762;
    color: white;
    font-size: 15px;
    margin: 0;
    margin-right: 5px;
    padding: 5px;
}
#table-create-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
#table-create-input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
#table-create-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
#table-create-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
#table-create-input::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

#table-create-input::placeholder { /* Most modern browsers support this now. */
   color:    white;
}
 /* Scroll set. */


::-webkit-scrollbar
{
	width: 5px;
}

::-webkit-scrollbar-thumb
{
	background-color: #a7a7a7;
	border-radius: 10px;
}



.sortable-chosen {
    box-shadow: 0px 5px 16px #091E42, 0px 1px 1px rgba(9, 30, 66, 0.1);
    opacity: 0.8;
}
.sortable-dragging {
    opacity: 0.9;
}

input[type=submit] {
    background-color: rgb(246, 248, 250);
    border-radius: 6px;
    border: 1px solid rgba(31, 35, 40, 0.504);
    box-shadow: rgba(31, 35, 40, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    color: rgb(36, 41, 47);
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    height: 26px;
}

input[type=submit]:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    cursor: pointer;
}