<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Prella</title>
  <link rel="manifest" href='{{ url_for("static", filename="manifest.json") }}'>
  <link rel="stylesheet" href='{{ url_for("static", filename="styles/style.css") }}'>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src='{{ url_for("static", filename="scripts/Sortable.min.js") }}'></script>
  <script src='{{ url_for("static", filename="scripts/jquery.ScrollTo.min.js") }}'></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</head>

<body>
  
 
  
  <header> 
    <form class="new-table-form">
      <input type="text" placeholder="Название таблички" id="table-create-input" class="input">
      <input type="submit" value="Добавить">
    </form>
    <div id="status"></div>
  </header>
  <div class="panel" id="panel"></div>
  <div class="delete" id="delete" style='background: center / contain no-repeat url("{{ url_for("static", filename="img/trash.svg") }}"), red; background-size: 30px;'></div>
  <div id='error_mes'>У вас были замечены сбои в передаче данных перезагрузитесь</div>
  <!--div id="scale_button">-</div-->
  <script src='{{ url_for("static", filename="scripts/main.js") }}'></script>
  <script>
  {% for id in order %}
    newTable(id="{{ id }}", label="{{ info[id]['label'] }}");
    {% for task_id in info[id]['tasks_order'] %}
    newTask(id="{{task_id}}", table_id="{{id}}", label="{{info[id]['tasks_info'][task_id]['label']}}");
    {% endfor %}
  {% endfor %}
  </script>
  
</body>
</html>